<% if @scores.empty? %>
  Sorry, we couldn't find any information for <%= full_district(@state, @district) %>
<% else %>
  <h2>Your representatives</h2>
  <div class="your-zip">
    <%= full_district(@state, @district) %>
  </div>
  <div class="your-reps-grid">
    <% @scores.each do |score| %>
      <%= render score, locals: { score: score } %>
    <% end %>
  </div>

  <script type="text/javascript" src="http://act.eff.org/action/embed"></script>

  <script type="text/javascript">
      var ac_embed = {};
      ac_embed.css_content = "#ac_embed_styles";
  </script>

  <script id="ac_embed_styles" type="text/x-css-content">
    body {
      background-color: red;
    }
  </script>

  <a class="action-center-widget" href="http://act.eff.org/action/tell-law-enforcement-come-back-with-a-warrant">Take part in the action!</a>
<% end %>
