body {
  background-color: white;
  color: black;
  font-size: $default-font-size;
  font-family: $body-font-family;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

a {
  color: $orange;
  text-decoration: none;
  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: underline;
  }
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: $sans-serif;
  text-align: center;
  font-weight: 700;

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

h1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  @include breakpoint(medium) {
    line-height: 2.3rem;
    margin-bottom: 1.6rem;
  }
}

h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  @include breakpoint(medium) {
    line-height: 1.7rem;
    margin-bottom: 1rem;
  }
}


h3 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 0.7rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-align: left;
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  text-align: left;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.6rem;
  margin: 0 1rem 1.7rem 1rem;
  text-align: left;
}

p {
  margin-bottom: 1rem;
}

pre,
kbd {
  font-family: monospace;
  background-color: $light-gray;
  padding: 10px;
  border-left: 3px solid $medium-gray;
  overflow: auto;
  margin: 1em 30px 1em 10px;
}

code {
  background-color: $light-gray;
  font-family: monospace;
  color: $medium-gray;
  line-height: 150%;
}

blockquote {
  border-left: 0.7rem solid $orange;
  color: $dark-gray;
  margin-top: 0;
  padding: 0 3rem 0 2rem;
  margin-bottom: 2.3rem; /* match <p> */
  p {
    color: $dark-gray;
    margin: 0;
    padding-top: 0;
  }
}

hr {
  border: none;
  height: 2px;
  color: $orange;
  background-color: $orange;
  width: 70%;
  margin: 3.5rem auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  @include breakpoint(medium) {
    margin: 0 auto;
  }
  thead {
    background: white;
  }
  th {
    background: url("sort-triangles.svg") no-repeat;
    background-position: 57px center;
    background-size: 9px;
    cursor: pointer;
    font-size: 0.9rem;
    @include breakpoint(medium) {
      background-size: 10px;
      font-size: 1rem;
    }
    &:first-child {
      background-position-x: 56px;
    }
    &:nth-child(3) {
      background-position-x: 76px;
      @include breakpoint(medium) {
        background-position-x: 77px;
      }
    }
    &:last-child {
      background: none;
    }
  }
  td {
    &:first-child {
      font-weight: 500;
    }
  }
  tbody th, tbody td {
    padding: 0.5rem 0.3rem;
    @include breakpoint(medium) {
      padding: 0.5rem 0.625rem;
    }
  }
  tbody tr:nth-child(2n+1) {
    background-color: #F0EFEF;
  }
  @include breakpoint(medium) {
    margin-left: 0;
  }
}


ul, ol {
  margin-left: 3rem;
}
