@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: local("Rubik Black"), local("Rubik-Black"), font-url("Rubik-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), font-url("Rubik-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), font-url("Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), font-url("Rubik-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: local("Rubik Italic"), local("Rubik-Italic"), font-url("Rubik-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), font-url("Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), font-url("Rubik-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"), font-url("Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), font-url("Rubik-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), font-url("Rubik-Regular.ttf") format("truetype");
}
