<div class="scorecard">
  <div class="row align-center">
    <div class="large-8 medium-10 small-11 columns">
      <h2>Full List</h2>
      <p>EFF marks a representative as being a “yes” only if they have publically committed to voting for
overturning the FCC order, not if they have said something positive about net neutrality in general.
Similarly, a “no” is someone who has publically committed to voting against the measure.</p>
      <table id="all-congress-members-table">
        <thead>
          <th>Name</th>
          <th>State</th>
          <th>Position</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>Firstname Lastname</td>
            <td>California</td>
            <td>Yes</td>
            <td><a href="">Tweet</a></td>
          </tr>
          <tr>
            <td>2col1</td>
            <td>2col2</td>
            <td>2col3</td>
            <td><a href="">Tweet</a></td>
          </tr>
          <tr>
            <td>3col1</td>
            <td>3col2</td>
            <td>3col3</td>
            <td><a href="">Tweet</a></td>
          </tr>
          <tr>
            <td>4col1</td>
            <td>4col2</td>
            <td>4col3</td>
            <td><a href="">Tweet</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
