<div class="homepage">
  <div class="row">
    <div class="intro large-8 columns">
      <h1>This is the home page.</h1>
      <p>This is a paragraph</p>
      <input>Zip code</input>
      <button>Look Up</button>
      <button class="white-button">See All Reps</button>
    </div>
  </div>
</div>
