<div class="homepage">
  <div class="row align-center">
    <div class="large-8 columns">
      <h1>This is the home page.</h1>
      <p>On December 14, 2017, the FCC voted to end net neutrality protections. Net neutrality
        protections ensured that Internet service providers (ISPs) treated all data that traveled
        over their networks equally. Now, the way is paved for ISPs to starting blocking or
        throttling access online and for them to charge extra for data to be transmitted faster.
        But Congress can stop it. A majority vote in both houses can overturn the FCC’s order
        and restore net neutrality.
        On TK, the Senate reached 51 votes in favor of repealing the FCC’s order. That means
        that the future of net neutrality is all in the hands of the House of Representatives.
        Tell your representatives how important net neutrality is and, if they haven’t already, to
        voice their support for bringing back real net neutrality.</p>
        <p>Enter your zip code and see where your rep stands!</p>
        <form>
          <input type="text" value="Zip Code" id="zipcode"></input>
          <button>Look Up</button>
          <button class="white-button">See All Reps</button>
        </form>
      </div>
    </div>
  </div>
