@mixin menus {
  ul {
    background-color: black;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    max-width: 60rem;
    li {
      flex: 1;
      margin: 0 2px;
      background-color: black;
      a {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 600;
        height: 100%;
        width: 100%;
        padding: 0.2rem 4%;
        text-decoration: none;
        text-transform: uppercase;
        &:active,
        &:focus,
        &:hover,
        &:visited {
          text-decoration: underline;
        }
        @include breakpoint(medium) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@mixin your-reps-block {
  flex: 1;
  padding: 0 0.5rem 2rem;
  img {
    border-bottom: 15px solid $green;
    width: 9rem;
  }
  .your-rep {
    text-align: center;
    .rep-name {
      font-weight: 500;
      text-align: center;
    }
    .position {
      background: image-url("external-link-icon.jpg") no-repeat;
      background-position-x: 83%;
      background-position-y: 80%;
      font-weight: 500;
      margin: 0 auto;
      text-align: center;
      text-transform: capitalize;
      width: 6rem;
      span {
        font-size: 0.9rem;
        font-weight: 400;
      }
      a {
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

@mixin buttons {
  background-color: $orange;
  border: 1px solid $orange;
  border-radius: rem-calc(7);
  clear: left;
  color: white;
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  @include breakpoint(medium) {
    width: 11rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
