.input-fields {
  @include breakpoint(medium) {
    display: flex;
    margin: 0 auto;
    width: 80%;
    .street {
      flex: 2 1 auto;
      width: 75%;
    }
    .zip {
      flex: 0 1 auto;
      margin-left: 1%;
      width: 25%;
    }
  }
}
input[type="text"] {
  border-radius: 0;
  border: 1px solid black !important;
  color: $charcoal !important;
  float: left;
  margin: 0 auto 1rem !important;
  width: 100% !important;
}

label {
  float: left;
  margin: 0 auto;
  width: 100%;
  @include breakpoint(medium) {
    width: 18rem !important;
  }
}

label#zipcode-label {
  @include breakpoint(medium) {
    width: 4rem;
  }
}

button,
input[type="submit"],
.orange-button {
  @include buttons;
}

.white-button {
  @include buttons;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 0.25rem;
  a,
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: black;
    border-color: black;
    color: white;
    text-decoration: none;
    a {
      color: white;
    }
  }
}

.white-button.clicked {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.tweet-button {
  background: $orange image-url('twitter-icon.svg') no-repeat;
  background-position-x: 1rem;
  padding-right: 1.5rem;
  text-align: right;
  text-transform: none;
  width: 16rem;
}

// Foundation's tooltips don't work without a JS library,
// so this replicates the tooltip functionality.
//
// It's got some problems, and at some point we'll probably want to use Foundation's.
.tooltip {
  border-bottom: 1px dotted black;
  color: $orange;
  cursor: help;
  display: inline-block;
  font-size: 0.6rem;
  line-height: 0.6rem;
  padding: 0;
  position: relative;

  .tooltip-text {
    background-color: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 6px;
    color: black;
    display: none;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.8rem;
    position: absolute;
    text-align: left;
    width: 15rem;
    z-index: 10;
    top: -21.5rem;
    left: -7rem;
    @include breakpoint(medium) {
      width: 25rem;
      top: -5rem;
      left: 2rem;
    }
  }
  &:hover .tooltip-text {
    display: block;
  }
}

.error {
  color: $orange;
  padding: 0.6rem 1rem;
  border: 1px solid $orange;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 1.1rem;
}
