.homepage {
  display: inline-block;
  width: 100%;
  .your-zip {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  .your-reps-grid {
    display: block;
    margin-bottom: 2rem;
    @include breakpoint(medium) {
      display: flex;
    }
    .your-reps-yes {
      @include your-reps-block;
    }
    .your-reps-no {
      @include your-reps-block;
      img {
        border-bottom: 15px solid $eff-red;
      }
      .your-rep .position a {
        color: $eff-red;
      }
    }
  }
  .smarty-api-why {
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin: -0.5rem auto 2rem;
    width: 100%;
    @include breakpoint(medium) {
      width: 18rem;
    }
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
}
