<div class="about">
  <div class="row align-center">
    <div class="large-7 medium-9 small-11 columns">
      <h1>
        What We Mean When We Say<span class="show-for-medium"><br/></span> Someone Is For Net Neutrality
      </h1>
      <p>Net neutrality is an idea that is vital to the health of the free and open Internet we all rely upon. That’s one of the reasons the FCC’s repeal of net neutrality was so unpopular. And that’s why you can and should continue to fight for it.  </p>
      <p>Net neutrality is so well-loved that even its opponents are paying it lip service, which makes it important to separate actual support from cynical name-dropping. Sometimes that’s easy: it’s a good bet that AT&T, a major ISP who stands to make a lot of money by undermining net neutrality, isn’t actually standing up for it, for example. Sometimes it’s hard: politicians can often craft messages and legislation that say one thing and mean another. </p>
      <p>Net neutrality means that Internet service providers (ISPs) should treat all data that travels over their networks fairly, without improper discrimination in favor of particular apps, sites or services. It means a ban on blocking data. It means a ban on throttling the download and upload speeds on particular data. And it means a ban on paid prioritization, where an ISP charges content providers to get better or faster or more consistent access to the ISP's customer or give such perks to its own content over a competitor’s.</p>
      <p>It’s principles like these that make up real net neutrality, and that is what we’re looking to Congress to support. On this site, we’re making sure to track concrete promises to act to save net neutrality rather than mere general statements of support in for the principle¸ or support for bogus bills masquerading as protection for net neutrality but not including real protections. </p>
      <p>The Congressional Review Act (CRA) allows Congress to overturn the FCC’s repeal of the 2015 Open Internet Order—which did a lot of work to ensure real net neutrality. A pledge to vote for that is an act that will actually go a long way to preserving a free and open Internet. In the Senate, that means agreeing to vote for <a href ="https://www.markey.senate.gov/imo/media/doc/CRA%20Net%20Neutrality%20.pdf">Sen. Ed Markey’s CRA resolution</a>, which is currently only one vote short of the required 51.</p>
        <p>That action is what this website tracks. It’s a clear, concrete thing you can ask your representatives to do.</p>
      <div class="orange-button"><%= link_to "Check Your Reps", "/#check-reps-now" %></div>
    </div>
  </div>
</div>
