@import "variables/colors";

body.action_page-embed_iframe {
  font-family: 'Rubik', sans-serif;

  a {
    color: #C9501D;
  }
  .container {
    @media all and (max-width: 640px) {
      padding: 0 !important;
      .tools-wrapper {
        padding: 0 1% !important;
      }
    }

    #tools {
      .tool {
        border: 1px solid #C9501D !important;
        border-radius: 0;
        box-shadow: none;
      }

      .tool .tool-container {
        padding: 0;
      }

      #congress-message-tool .tool-title {
        background: $orange;
        color: white;
        font-weight: 600;
        padding: 1rem;
        text-transform: uppercase;
      }

      #congress-message-tool h3::before {
        border-bottom: none !important;
      }

      #congress-message-tool h3 {
        color: black;
      }
    }
  }
  #tools #congress-message-tool h3 span.customize-message-popover,
  h3.privacy-notice-header span.privacy-notice-popover {
    border: 1px solid $orange;
    color: $orange;
  }
  #tools #congress-message-tool h3 span.customize-message-popover:hover,
  h3.privacy-notice-header span.privacy-notice-popover:hover {
    background: $orange;
    color: white;
  }

  input.btn.btn-default.action {
    background-color: $orange !important;
    display: block;
    font-weight: 900 !important;
    margin: 0 auto;
    width: 100% !important;
    @media all and (min-width: 640px) {
      width: 55% !important;
    }
  }

  input.btn.action {
    background-color: $orange !important;
    display: block;
    font-weight: 900 !important;
    margin: 0 auto;
    width: 100% !important;
    @media all and (min-width: 640px) {
      width: 55% !important;
    }
  }

  .progress-bar-danger {
    background-color: $orange;
  }

  span.info-circle.success {
    color: $green !important;
    border-color: white !important;
    background-color: white !important;
    top: -14px !important;
  }

  .vertical-share a {
    color: white !important;
  }

  body.action_page-embed_iframe .facebook-button {
    display: none;
  }
  body.action_page-embed_iframe .google-button {
    display: none;
  }
}
