@import "foundation_and_overrides";

.center {
  text-align: center;
}

.row {
  margin-top: 0;
  @include breakpoint(medium) {
    margin-top: 2rem;
  }
}

.row aside {
  display: inline-block;
  min-width: 10%;
  max-width: 25%;
}
