<footer>
  <div class="top-bar">
    <nav id="footer-menu" aria-labelledby="footer-menu-label" class="large-12 columns">
      <ul class="row center">
        <li><%= link_to image_tag("logo-orange.svg", alt: "EFF logo"),  "https://eff.org/" %></li>
        <li><%= link_to "Copyright (CC BY)", "https://www.eff.org/copyright" %></li>
        <li><%= link_to "Privacy", "https://www.eff.org/policy" %></li>
      </nav>
    </div>
</footer>
