<div class="top-bar">
  <nav id="main-menu" aria-labelledby="main-menu-label" class="large-12 columns">
    <ul class="row center">
      <li><%= link_to "Act Now", "/" %></li>
      <li><%= link_to "Scorecard", "/" %></li>
      <li><%= link_to "About", "/" %></li>
    </nav>
  </div>



  <header class="large-12 columns center">
    <div class="project-of">A project of the <a href="https://eff.org">Electronic Frontier Foundation</a>
    </div>
    <h3 class="center">Check Your Reps:</h3>
    <div class="site-name">
      <%= link_to "Save the Neutral Net", "/" %>
    </div>
  </header>
</div>
