<div class="header-wrapper">
  <div class="top-bar">
    <nav id="main-menu" aria-labelledby="main-menu-label" class="large-12 columns">
      <ul class="row">
        <li><a href="">ACT NOW</a></li>
        <li><a href="">scorecard</a></li>
        <li><a href="">about</a></li>
      </div>
    </nav>
  </div>


  <header>
    <div class="site-name large-12 columns center">
      <h1><%= link_to "Save Net Neutrality", "/" %></h1>
    </div>
  </header>
</div>
